*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
/* задний фон */
body
{
    background-image: url(bg.jpg);
    /* background-color: blue; */
    background-attachment: fixed,scroll;
    background-size:cover;
    
    background-position:center;
    height:5000px;
    
}
/* Верхняя приклееная шапка */
#osnova
{
    width:2000px;
    height: 110px;
    background-image: url(top.png);
    position: fixed;
    
}
#knopa1
{
    background-image: url(logo.png);
    font-size: 2em;
    
    text-align: center;
    float:left;
    width: 289px;
    height: 91px; 
    margin-top: 5px;
    

    
}
/* Основной белый фон */
.RAE
{
    width: 1375px;
    height: 5000px;;
    background-color: rgb(254, 255, 248);
    margin: 0px auto;
    padding-top: 159px;
}

/* Кнопка со списком выпадоющим */
#drop
{
    float:left;
    margin-left:169px;
    margin-top: 9px;
}
#button1
{
    background-image: url(png-clipart-thumb-signal-social-media-emoji-facebook-messenger-social-media-rectangle-emoticon.png);
    background-size:cover;
    color:rgba(139, 0, 139, 0);
    width:0px;
    height: 0px;
    border-radius: 0px;
     
}
/* Кнопка подьёма */
#nevid
{
    width:0px;
    height: 0px;
    background-color: teal;
    float:left;
}
#plavno-vverx
{
    background-image: url(strelka.png);
    background-size: cover;
    
    

    /* opacity: 0.15; */
    float:right;
    filter: alpha(Opacity=95);
    opacity: 0.95;  
    /* /* margin-top:200px; */
}

#lol
{
    float:right; 
    left:1700px;
    top: 777px;
    position: fixed; 
    /* background-color: rgba(139, 0, 0, 0.384); */
    border-radius: 100px ;
    
}
.konpka_vverx
{
    width: 100px;
    height: 100px;
}

#city
{
    background-color: rgba(0, 247, 119, 0);
    border-radius: 0.1px; 
    width: 251px;
    height: 70px;
    /* outline-color: brown; */
    /* box-shadow: 0 0 10px 1052px rgba(255, 166, 0, 0.39) inset; */
    border-color:rgba(165, 42, 42, 0);
    padding-left: 26px;
    margin-right: 0px; 
    margin-top: 14px; 
    
    float:right;
    font-family:  'Oswald', sans-serif;
    font-size: 20pt;
    
    
    appearance: none;
    background-image: url(button_left.png);
}
#University
{
    /* background-color: rgba(105, 153, 129, 0.5); */
    background-image: url(button_centre.png);
    border-radius: 0.1px;
    float:right;
    height: 70px;
    width: 250px;
    font-family:  'Oswald', sans-serif;
    font-size: 20pt;
    margin-right: 0px;
    margin-top: 14px; 
    border-color:rgba(165, 42, 42, 0);
    padding-left: 23px;
    appearance: none;

}
#ButPer{
    border-radius: 0.1px;
    height: 70px;
    width: 260px;
    border-color:rgba(26, 25, 25, 0);
    font-family:  'Oswald', sans-serif;
    /* font-size: 20pt; */
    
    /* background-color: rgba(105, 153, 129, 0.5); */
    float:right;
    margin-top: 14px; 
    margin-right: 390px;

    

    background-image: url(button_right.png);
}
#aoo
{
    color:rgb(68, 64, 64);
    font-size:20pt;
    font-family: 'Oswald', sans-serif;;
}

#Text
{
    box-sizing: content-box;
    background-image: url(/iufu_sol.jpg);
    float: left;
    font-size:40pt;
    
    padding: 0px 54px;
    letter-spacing:-2px;
    font-family:'Montserrat', sans-serif;
    color:rgb(255, 255, 255);
    width: 1267px;
    height: 290px;
    
    
}

#font1
{
    float: left;
}

#logo
{
    float: right;
    margin-top: 20px;
}
#fakel
{
    width: 100px;
    height: 50px;
    font-size: 24px;
    
}
#veveve
{
    margin-top: 150px;
    
}

#fakul_ok
{
    width: 1220px;
    float:left;
}

#fak_logo
{
    width:242px;
    height:auto;
    background-color: rgb(11, 138, 85);
    color: #000;
    font-size: 40px;
    border-radius: 10px;
    /* margin-top: 322px; */
    margin-left: 17px;
}


#napr
{
 font-size: 15px;
 color: rgb(151, 151, 151);
 width: 460px;
 float: left;
 margin-left: 20px;
}

#gb
{
 font-size: 15px;
 color: rgb(151, 151, 151);
 width: 70px;
 float: left;
 margin-left: 20px;
}

#pvz
{
 font-size: 15px;
 color: rgb(151, 151, 151);
 width: 70px;
 float: left;
 margin-left: 20px;
}

#min_bal
{
 font-size: 15px;
 color: rgb(151, 151, 151);
 width: 200px;
 float: left;
 margin-left: 20px;
}

#podr
{
 font-size: 15px;
 color: rgb(151, 151, 151);
 width: 255px;
 float: left;
 margin-left: 20px;
}

#pust
{
    
}