*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background-image: url(bg.jpg);
    /* background-color: blue; */
    background-attachment: fixed,scroll;
    background-size:cover;
    
    background-position:center;
    height:100012px;
    
}
/* Nav */
#osnova{
    width:2000px;
    height: 110px;
    background-image: url(шапка.jpg);
    /* background-color: rgb(95, 95, 95); */
    position: fixed;
    /* background-blend-mode: multiply; */
    
    margin: 0px; 
    

    
}
#verx{
    width: 200px;
    height: 200px;
    
    
    
} 
.RAE{
    width: 1330px;
    height:10000px;
    background-color: white;
    margin: 0px auto;
    padding-top: 66px;
}
span{
    font-family: cursive;
}
#knopa1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color:cornsilk;
    text-align: center;
    float:left;
    /* width: 435px;
    height: 100px; */
    block-size: 50%;
    
    background-image: url(Woo-Wooz1.png);
}

#fgd{
    font-size: 2em;
    color:crimson;
    margin-left: 44px ;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
#spisok{
    width:200px;
    height: 100px;
    margin-left: 0px;
    margin-right: 0;
    
    background-color: rgba(126, 125, 125, 0.637);
    
}
#sp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1,5em;
    margin: auto 50px;
}
#pole{
    background-color: rgba(126, 125, 125, 0.336); 
    width: 200px;
    height: 137px;
    margin-left: 154px;
    float:left;
    
}
#drop{
    float:left;
    margin-left:169px;
    margin-top: 9px;
}
#button1{
    background-image: url(png-clipart-thumb-signal-social-media-emoji-facebook-messenger-social-media-rectangle-emoticon.png);
    background-size:cover;
    color:rgba(139, 0, 139, 0);
    width:0px;
    height: 0px;
    border-radius: 0px;
     
}
#nevid
{
width:1px;
height: 1px;
background-color: teal;
}
#plavno-vverx
{
    background-image: url(кнопа_в.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    float:left;
    /* margin-top:200px; */
}
#lol
{
    
    
    position: fixed;
    /* background-color: rgba(139, 0, 0, 0.384); */
    border-radius: 100px ;
    margin-top: 750px; 
}
